@font-face {
    font-family: 'PoliceMinecraft';
    src: url('../minecraft-font.ttf') format('truetype');
}

body {
    background: radial-gradient(circle, #353535 10%, #252525 100%);
    font-family: 'PoliceMinecraft', sans-serif;
    color: #fff;
    margin: 0;
    text-align: center;
}

/* HEADER */
.header {
    background: #2c2c2c; /*Couleur de fond*/
    padding: 20px; 
    border-bottom: 4px solid #5d9e47; /*ligne verte pour délimiter le bas de la banderole*/
}
/*Police pour le titre "Minecraft Wiki" */
.header h1 { 
    font-size: 3rem;
    margin: 0;
}
/*Police pour le sous-titre*/
.header p {
    font-size: 1.2rem;
    color: #ccc;
}

/* STYLE CARTE PRINCIPALE*/
.card-presentation {
    border-radius: 15px;
    padding: 30px 40px;
    text-decoration: none;
    color: white;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-image: url("../IMAGE/grass_block.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    max-width: 1460px; 
    height: 600px;
    margin: 40px auto 0 auto; /* centré et espacée du haut */
    font-size: 2rem;
  }

/*Aligne le texte du paragraphe mais pas le titre*/
.card-presentation p{
      text-align: justify;
}

.card-presentation:hover {
    transform: scale(1.05);
  }

/* GRILLE */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 40px;
  max-width: 1500px;
  margin: 0 auto;
  height: 500px;
}


.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  position: center;
  cursor:pointer;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  font-family: 'PoliceMinecraft', sans-serif;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 120%;
  height: 120%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}
