@font-face {
    font-family: 'PoliceMinecraft';
    src: url('../minecraft-font.ttf') format('truetype');
}

body {
    background: radial-gradient(circle, #353535 10%, #252525 100%);
    font-family: 'PoliceMinecraft', sans-serif;
    color: #fff;
    margin: 0;
    text-align: center;
}

/* HEADER */
.header {
    background: #2c2c2c; /*Couleur de fond*/
    padding: 20px; 
    border-bottom: 4px solid #5d9e47; /*ligne verte pour délimiter le bas de la banderole*/
}
/*Police pour le titre "Minecraft Wiki" */
.header h1 { 
    font-size: 3rem;
    margin: 0;
}
/*Police pour le sous-titre*/
.header p {
    font-size: 1.2rem;
    color: #ccc;
}

/* STYLE CARTE PRINCIPALE*/
.card-presentation {
    border-radius: 15px;
    padding: 30px 40px;
    text-decoration: none;
    color: white;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-image: url("../IMAGE/grass_block.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    max-width: 1460px; 
    height: 600px;
    margin: 40px auto 0 auto; /* centré et espacée du haut */
    font-size: 2rem;
  }

/*Aligne le texte du paragraphe mais pas le titre*/
.card-presentation p{
      text-align: justify;
}

.card-presentation:hover {
    transform: scale(1.05);
  }

/* STYLE COMMUN DES CARTES */
.card {
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transform-style: preserve-3d;
    position: relative;
}

.card-face {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /*Compatibilité pour tout les navigateurs (safari)*/
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

