@font-face {
    font-family: 'PoliceMinecraft';
    src: url('../minecraft-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* #f2f2f2 */
body {
    background: radial-gradient(circle, #353535 10%, #252525 100%);
    background-size: cover;
    font-family: PoliceMinecraft, sans-serif; /*Police minecraft*/
    text-align : center; /* Aligne le texte au centre */ 
    color: #FFFFFF
}

.img-menu {
    width: 300px; 
    height: auto;
    border-radius: 10px; 
    margin-top: 20px;
}