@font-face {
  font-family: 'PoliceMinecraft';
  src: url('../minecraft-font.ttf') format('truetype');
}

body {
  background: radial-gradient(circle, #353535 10%, #252525 100%);
  font-family: 'PoliceMinecraft', sans-serif;
  color: #fff;
  margin: 0;
}

/* HEADER */
.header {
  background: #2c2c2c; /*Couleur de fond*/
  padding: 10px; 
  border-bottom: 4px solid #5d9e47; /*ligne verte pour délimiter le bas de la banderole*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*Police pour le titre "Minecraft Wiki" */
.header h1 { 
  font-size: 3rem;
  margin: 0;
}
/*Police pour le sous-titre*/
.header p {
  font-size: 1.2rem;
  color: #ccc;
  margin: 0;
}

/*NAVBAR*/
.navbar {
  display: flex;
  position: relative;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;

}

.nav-logo {
  width: 80px;
  cursor: pointer;
}

.nav-links a{
  display: inline-block;
  color:#fff;
  transform: translateY(0px);
  transition: 250ms;
}

.nav-links a:hover{
  color:#5d9e47;
  transform: translateY(-3px);
}

.nav-links {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  /* Pour l'animation */
  opacity: 0;             /* invisible par défaut */
  pointer-events: none;   /* pas cliquable quand invisible */
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-10px);
}

.nav-links.active {
  opacity: 1;             /* visible */
  pointer-events: auto;   /* cliquable */
  transform: translateY(0); /* position normale */
}

.navbar-mid {
  position: absolute; /* Sort l'élément du flux normal pour pouvoir le placer librement dans la navbar */
  left: 50%; /* On positionne le bord gauche de l'élément au milieu horizontal de la navbar */
  transform: translateX(-50%); /* Décale l'élément vers la gauche de la moitié de sa propre largeur pour que son centre soit aligné sur le centre de la navbar */
  text-align: center; /* Centre le texte à l'intérieur du bloc */
}